<b>Версіонування файлів проекту із використанням системи git</b>

<ol>
    <li>Необхідно ініціалізувати теку із проектом як git рипозиторій і додати всі існуючі файли у вигляді коміту. Всі
        наступні зміни необхідно зберігати у вигляді комітів.</li>
    <li>Необхідно зареєструватися github.com, створити публічний репозиторій і добавити його як remote origin до
        локального репозиторію.</li>
    <li>Виконати push всіх комітів в віддалений репозиторій(origin)</li>
</ol>