<b>Створення ієрархії Makefile, а також налаштування phony таргетів(асбтрактних цілей)</b>

Необхідно налаштувати корневий Makefile таким чином, щоб його таргети визивали аналогічні дії в усіх модулях
проекту(теках). Необхідно створити у всіх мейкфайлах наступні таргети(ціль):
<ol>
    <li>build - таргет який компілює і збирає артефакт (бібліотека, виконуваний файл, і т. п.)</li>
    <li>clean - таргет який видаляє всі проміжкові файли і кеші і результати збірки (object file, executable files, archives)</li>
    <li>install - таргет який копіює виконуваний файл в якусь із тек PATH.</li>
</ol>