<b>Розгалуження</b>
Нехай оплата робіт залежить від типу виконаної роботи чи виду підприємницької діяльності (А, Б, B) і нараховується по
формулі
<ol>
    <li>100|fi+2( i )+50|,для робіт типу А,</li>
    <li>150|f i+3( i )+100|, для робіт типу Б,</li>
    <li>200|fi+4( i )+135|, для робіт типу В,</li>
</ol>
де i - номер варіанта. Для робіт типу А податок складає 10%, для Б — 15%, для В - 20%. Ввести тип роботи. Вивести
нараховану суму, суми податку і до видачі.