<b>Розгалуження 1</b>
Ввести довільне значення х і обчислити значення функції
Скласти дві програми, використовуючи: 
<ol>
    <li>повну форму команди розгалуження if;</li>
    <li>коротку форму команди розгалуження if.</li>
</ol>
Вхідні дані (x, а, b,c, d) Ввести з клавіатури на свій розсуд. Вивести на екран результати обчислень.