<b>Вибір</b>

Скласти програму для рішення приведеного нижче завдання двома способами, використовуючи: 
<ol>
    <li>команду вибору case;</li>
    <li>команду if.</li>
</ol>
Придумати і задати вхідні дані так, щоб вибір був з 4-7 альтернативами. <br><br>
Ввести номер дня тижня. Вивести його назву.